<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H3> RESTFUL CRUD TEST </H3>

<button onclick="data_create()"> 저장 [ C ]  </button>
<button onclick="data_read()"> 호출 [ R ]  </button>
<button onclick="data_update()"> 수정 [ U ]  </button>
<button onclick="data_delete()"> 삭제 [ D ]  </button> <br>

<input type="text" id="name"  placeholder="친구이름">
<input type="text" id="phone" placeholder="연락처" >
<input type="text" id="memo" placeholder="메모">

<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/main.js" type="text/javascript"></script>


</body>
</html>